services:
  postgres:
    image: 'postgres:18.1'
    container_name: postgres_spring_education
    restart: no
    env_file:
        - .env
    environment:
      - 'POSTGRES_DB=${POSTGRES_DB}'
      - 'POSTGRES_PASSWORD=${POSTGRES_PASSWORD}'
      - 'POSTGRES_USER=${POSTGRES_USER}'
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
    postgres_data:
